.settings_main{
  background-color: var(--secondary-color);
  min-height: calc(100vh - 100px);
  padding-top: 100px;
  width: 100%;
  margin: 0 10px;
}
.settings_data{
  width: 90%;
  margin: 0 auto;
  padding: 0px 15px;
}
.settings_data a{
  padding: 40px;
  height: 130px;
  background-color: var(--primary-color);
  border-radius: 28px;
  margin: 22px 0;
  text-decoration: none;
  box-shadow: var(--shadow-color) 0px 3px 8px;
  display: block;
  overflow: hidden;
  position: relative;
  color: white;
}
.settings_data a:nth-child(1){
  background-color: #292B36;
}
.settings_data a:nth-child(2){
  background-color: #1e90ff;
}
.settings_data a:nth-child(3){
  background-color: #8300d0;
}
.settings_data a h3{
  font-size: 27px;
}
.settings_data a p{
  font-size: 18px;
  opacity: .8;
  line-height: 45px;
}
.settings_data h5{
  font-size: 18px;
  font-weight: 400;
  padding-top: 5px;
}
.settings_data a h5:hover{
  text-decoration: underline;
}
.settings_data a img{
  position: absolute;
  width: 22%;
  height: auto;
  right: 1%;
  top: 12%;
  transition: all .3s ease;
  transform: rotate(-10deg);
}
.settings_data a:hover img{
  width: 28%;
}