.main-menu {
  background-color: var(--primary-color);
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 280px;
  height: 100%;
  max-height: calc(100% - 85px);
}
.main-menu li {
  padding: 0 5px;
  z-index: 99;
  position: relative;
}
.main-menu li button {
  display: flex;
  margin: 4px 2px;
  margin-right: 0px;
  border-radius: 3px;
  padding: 9px 0;
  color: var(--text-color);
  font-family: arial;
  font-size: 15px;
  transition: all 0.1s linear;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  align-items: center;
  border: none;
}
.main-menu li:nth-child(1) button{
  margin-top: 0;
}
.main-menu ul li.activeItem button, .main-menu li button:hover{
  background-color: var(--secondary-color);
  color: var(--text-secondary-color);
  border-left: 3px solid var(--text-secondary-color);
}
.fa {
  padding-left: 15px;
  padding-right: 20px;
  height: 26px;
  stroke-width: 1.7;
}
.main-menu .nav-text {
  font-family: "Titillium Web", sans-serif;
}
.main-menu > ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.leftBar_svg{
  z-index: 9;
  position: absolute;
  bottom: 7px;
}