.leftBar{
  transition: all .2s ease;
  min-width: 280px;
}
.main-menu {
  background-color: var(--primary-color);
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 280px;
  height: 100%;
  max-height: calc(100% - 85px);
}
.main-menu li {
  padding-left: 5px;
  z-index: 99;
  position: relative;
}
.main-menu li button {
  display: flex;
  margin: 4px 2px;
  margin-right: 0px;
  border-radius: 3px;
  padding: 9px 0;
  color: var(--text-color);
  font-family: arial;
  font-size: 15px;
  transition: all 0.1s linear;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  align-items: center;
  border: none;
}
.main-menu li:nth-child(1) button{
  margin-top: 0;
}
.main-menu ul li.activeItem button, .main-menu li button:hover{
  background-color: var(--secondary-color);
  color: var(--text-secondary-color);
  border-left: 3px solid var(--text-secondary-color);
}
.main-menu li button img{
  height: 30px;
  padding-left: 15px;
  padding-right: 20px;
}
.main-menu ul:nth-child(1) li:last-child button img{
  transform: rotate(45deg);
}
.main-menu .nav-text {
  font-family: "Titillium Web", sans-serif;
}


/* .leftbar_minimize */
.leftbar_minimize .leftBar{
  min-width: 70px;
}
.leftbar_minimize .leftBar .main-menu{
  width: 70px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.leftbar_minimize .main-menu li {
  padding-left: 0;
}
.leftbar_minimize .main-menu li button {
  margin: 4px 0;
}
.leftbar_minimize .main-menu li button img{
  height: 33px;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
}
.leftbar_minimize .leftBar .main-menu .nav-text {
  position: absolute;
  left: 78px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 11px 20px;
  border-radius: 9px;
  white-space: nowrap;
  font-size: 16px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: var(--text-secondary-color);
  display: none;
}
.leftbar_minimize .leftBar ul li:hover .nav-text{
  display: block;
}