.friends_suggestion{
  display: flex;
  padding: 15px 10px;
  justify-content: space-around;
}
.friend_suggested{
  background-color: rgb(254, 254, 254);
  border-radius: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: var(--shadow-color) 1.95px 1.95px 2.6px;
}
.friend_suggested .friend_suggestPic{
  height: 170px;
  width: 180px;
  background-color: var(--primary-color);
  background-image: url(https://i.pinimg.com/736x/3c/f2/58/3cf258f4e4b397da09475aa02276bc7c.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* border-radius: 50%; */
  margin: 0 auto;
  box-shadow: var(--shadow-color) 0px 7px 29px 0px;
}
.friend_suggested h3{
  line-height: 50px;
  font-weight: 500;
  text-align: left;
  font-size: 18px;
  padding-left: 15px;
}
.friend_suggested button{
  background-color: var(--text-secondary-color);
  border-radius: 9px;
  padding: 10px 25px;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  padding-left: 48px;
  box-shadow: var(--shadow-color) 0px 3px 8px;
}
.friend_suggested button span{
  position: absolute;
  margin-left: -30px;
  margin-top: -1px;
}
.friend_suggested button span i{
  font-size: 23px;
}