.authForm{
   width: 50%;
}
/* Login Form */
.authForm form{
   background-color: var(--primary-color);
   /* width: 100%; */
   padding: 30px 40px;
   border-radius: 15px;
   box-shadow: var(--shadow-color) 0px 3px 8px;
}
.authForm form h3{
   font-size: 32px;
}
.authForm form p{
   font-size: 14px;
   color: #9f9f9f;
   padding-bottom: 5px;
}
.authForm form p span,form label h4 span{
   font-weight: 500;
   text-decoration: underline;
   color: var(--text-secondary-color);
   cursor: pointer;
}
.authForm form label h4{
   font-weight: 500;
   padding-top: 17px;
   font-size: 14px;
}
.authForm form input{
   padding: 13px 20px;
   width: -webkit-fill-available;
   border-radius: 30px;
   outline: none;
   border: none;
   margin-top: 8px;
   border: 1px solid #b18fe5;
   /* padding-left: 20px; */
   box-shadow: var(--shadow-color) 0px 1px 3px;
}
form.invalidCredLogin label h4{
   color: #cc0029;
}
form.invalidCredLogin input{
   border: 1px solid #cc0029;
}
.invlidCredText, .matchPassword{
   color: #cc0029 !important;
   padding-top: 13px;
   display: none;
}
form.invalidCredLogin .invlidCredText{
   display: block;
}
.authForm form label span{
   float: right;
   font-size: 13px;
}
.authForm form input:focus{
   border-color:#893DFF;
}
.authForm form button{
   padding: 13px;
   width: 100%;
   margin-top: 20px;
   border-radius: 27px;
   border: 2px solid var(--text-secondary-color);
   background-color: var(--text-secondary-color);
   box-shadow: var(--shadow-color) 0px 1px 4px;
   color: white;
   font-weight: 500;
   cursor: pointer;
   text-transform: uppercase;
   /* background-image: linear-gradient(90deg, #7c2a80 0%, #2e439a 100%); */
}
form.invalidCredLogin button{
   margin-top: 7px;
}
.authForm .formBottom p{
   margin-top: 17px;
   text-align: center;
}
.authForm .formBottom p::before{
   content: '';
   position: absolute;
   height: 1.4px;
   background-color: #9f9f9f;
   width: 100px;
   margin-left: 0;
   margin-top: 11px;
   margin-left: 100px;
}
.authForm .formBottom p::after{
   content: '';
   position: absolute;
   height: 1.4px;
   background-color: #9f9f9f;
   width: 100px;
   margin-top: 11px;
   margin-left: -200px;
}
.authForm .formBottom button{
   transition: 200ms;
   background-color: transparent;
   margin-top: 10px;
   cursor: not-allowed;
}
.authForm .formBottom button span{
   position: absolute;
   margin-left: -28px;
   margin-top: -3px;
}
.authForm .formBottom button span svg{
   fill: white;
}
.authForm .formBottom button:nth-child(2){
   border-color: #f0385d;
   background-color: #f0385d;
   background-image: linear-gradient(90deg, #df9185 0%, #f0385d 55%);
} 
.authForm .formBottom button:nth-child(2):hover{
   color: rgb(224, 79, 57);
   background-color: white;
   background-image: none;
}
.authForm .formBottom button:nth-child(2):hover svg{
   fill: rgb(224, 79, 57);
}
.authForm .formBottom button:last-child{
   background-color: #2556b9;
   border-color: #4d9cec;
   background-image: linear-gradient(62deg, #2556b9 0%, #0027c3 100%);
}
.authForm .formBottom button:last-child:hover{
   color: #893DFF;
   background-color: white;
   background-image: none;
}
.authForm .formBottom button:last-child:hover svg{
   fill: #893DFF;
}
/* Signup Form */
.authForm .signupForm{
   padding-top: 5px;
}
.authForm .signupForm label h4{
   padding-top: 13px;
}
.unequalPass.signupForm input[type=password]{
   border-color: #cc0029;
}
.unequalPass.signupForm .matchPassword{
   display: block;
}
.authForm .signupForm .signupSteps{
   display: flex;
   justify-content: space-between;
   padding: 15px 0;
}
.authForm .signupForm .signupSteps div{
   height: 2px;
   border-radius: 3px;
   width: 49%;
   background-color: #0027c3;
}
.authForm .signupForm .signupStep2 #goSignStep1Btn{
   background-color: white;
   background-image: none;
   color: #2e439a;
}
.authForm .signupForm .signupStep2 #goSignStep1Btn:hover{
   background-color: #2e439a;
   background-image: none;
   color: white;
   background-image: linear-gradient(90deg, #7c2a80 0%, #2e439a 100%);
}
/* Signup gender section */
.authForm .signupGender label h4{
   margin: 5px 0;
}
.authForm .signupGender .gender div{
   margin: 5px 15px;
   display: inline-block;
}
.authForm .signupGender .gender input{
   width: auto;
   padding: 0;
   box-shadow: none;
   margin-top: 2px;
   margin-right: 6px;
}